[submodule ".tmux/plugins/tmux-continuum"]
	path = .tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
	ignore = dirty
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-obsession"]
	path = .vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/taglist.vim"]
	path = .vim/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/pathogen.vim"]
	path = .vim/pathogen.vim
	url = https://github.com/vim-scripts/pathogen.vim.git
[submodule ".tmux/plugins/tmux-urlview"]
	path = .tmux/plugins/tmux-urlview
	url = https://github.com/tmux-plugins/tmux-urlview
[submodule ".vim/bundle/vim-tmux-focus-events"]
	path = .vim/bundle/vim-tmux-focus-events
	url = git://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule ".dircolors"]
	path = .dircolors
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".vim/bundle/vim-dirdiff"]
	path = .vim/bundle/vim-dirdiff
	url = git://github.com/will133/vim-dirdiff
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".tmux/plugins/extrakto"]
	path = .tmux/plugins/extrakto
	url = https://github.com/laktak/extrakto.git
[submodule ".tmux/plugins/tmux-online-status"]
	path = .tmux/plugins/tmux-online-status
	url = https://github.com/tmux-plugins/tmux-online-status.git
